<div>
    <!-- Content -->
    <div id="content">

        <div class="tab-content" style=" height: 500px ;display:block;">
            <h2 style="color: red ;text-align: center">Vente d'ordinateurs</h2>
            <div class="col-sm-3 col-md-3 col-xs-2" class="accueil-soldé" ng-repeat="articleNouveau in articleNouveau" ng-if="articleNouveau.categorie=='computer'">
                <div class="thumbnail" ng-click="detailArticle(articleNouveau._id)" >
                    <img class="thumbnail-img" src="{{articleNouveau.image}}" alt="{{article.nom}}">
                    <div class="caption">
                        <p><h3>{{articleNouveau.nom}}</h3><span>{{articleNouveau.moyenneNote}} / 5 </span></p>
                        <span class="prixPromo">{{articleNouveau.prixPromo}} € € EN PROMO !!!</span>
                        <p style="text-align: right"><span ng-click="addCart(articleNouveau._id)" class="glyphicon glyphicon-shopping-cart"></span><span ng-click="detailArticle(articleNouveau._id)"  class="glyphicon glyphicon-search"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Content -->
    </div>

</div>
