<div>
    <!-- Content -->
    <div id="content">

        <div class="tab-content" style=" height: 500px ;display:block;">
            <h2 style="color: red ;text-align: center">Vente de smartphones</h2>
            <div class="col-sm-3 col-md-3 col-xs-2" class="accueil-soldé" ng-repeat="article in articles">
                <div class="thumbnail" ng-click="detailArticle(article._id)">
                    <img class="thumbnail-img" src="{{article.image}}" alt="{{article.nom}}">
                    <div class="caption">
                        <p><h3>{{article.nom}}</h3><span>{{article.moyenneNote}} / 5 </span></p>
                        <span class="prixPromo" ng-if="article.isPromo">{{article.prixPromo}} € EN PROMO !!!</span>
                        <span class="prix" ng-if="!article.isPromo">{{article.prix}} € </span>
                        <p style="text-align: right"><span ng-click="addCart(article._id)" class="glyphicon glyphicon-shopping-cart"></span><span ng-click="detailArticle(article._id)"  class="glyphicon glyphicon-search"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Content -->
    </div>

</div>
