<div id="content">
    <!-- Container -->
    <div id="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Prix</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articleCommande">
                <th scope="row">{{article.nom}}</th>
                <td ng-if="article.isPromo">{{article.prixPromo}}</td>
                <td ng-if="!article.isPromo">{{article.prix}}</td>

            </tr>
            <tr>
                <td>Total : </td>
                <td>{{prixTotal}} €</td>
            </tr>
            </tbody>
        </table>

        <button data-ng-click="validezCommande()" class="btn btn-primary"> Terminer la commande</button>

        <!-- End Container -->
    </div>
    <!-- End Content -->
</div>
